<!-- .inner -->
<div class="inner">
  <div class="space"></div>
  <!-- #wrap-term-selectors -->
  <div id="wrap-term-selectors">
    <!-- #wrap-list-years -->
    <div id="wrap-list-years">
      <ul class="list-years my-btn-group">
        <% @view_object.year_list.li_tags.each do |li_tag| %>
          <li data-date="<%= li_tag.data_date_value %>">
            <%= link_to(li_tag.anchor_text, li_tag.anchor_href, data: {date_type: "year", date: li_tag.data_date_value, complete_text: li_tag.data_complete_text_value}, class: "btn btn-link #{li_tag.anchor_class_text}") %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /#wrap-list-years -->

    <!-- #wrap-list-months -->
    <div id="wrap-list-months">
      <% @view_object.month_list.ul_tags.each do |ul_tag| %>
        <ul class="list-months my-btn-group <%= ul_tag.class_text %>">
          <% ul_tag.li_tags.each do |li_tag| %>
            <li data-date="<%= li_tag.data_date_value %>">
              <%= link_to(li_tag.anchor_text, li_tag.anchor_href, data: {date_type: "month", date: li_tag.data_date_value, complete_text: li_tag.data_complete_text_value}, class: "btn btn-link #{li_tag.anchor_class_text}") %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <!-- /#wrap-list-months -->

    <!-- #wrap-list-days -->
    <div id="wrap-list-days">
      <% @view_object.day_list.ul_tags.each do |ul_tag| %>
        <ul class="list-days my-btn-group <%= ul_tag.class_text %>">
          <% ul_tag.li_tags.each do |li_tag| %>
            <li data-date="<%= li_tag.data_date_value %>">
              <%= link_to(li_tag.anchor_text, li_tag.anchor_href, data: {date_type: "day", date: li_tag.data_date_value, complete_text: li_tag.data_complete_text_value}, class: "btn btn-link #{li_tag.anchor_class_text}") %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <!-- /#wrap-list-days -->
  </div>
  <!-- /#wrap-term-selectors -->
</div>
<!-- /.inner -->
