<% content_for(:title){"データの取り込み"} %>
<% content_for :javascript_include_tags do %>
  <%= javascript_include_tag "modules/import" %>
  <%= javascript_include_tag "statuses/import" %>
<% end %>
<% content_for :global_header do %>
  <%= render "shared/global_header",{ :current_user => @current_user} %>
<% end %>
<% content_for :footer do %>
  <%= render "shared/footer" %>
<% end %>
<!-- #wrap-import -->
<div id="wrap-import">

  <!-- .wrap-upper -->
  <div class="wrap-upper">
    <h2>タイムラインを取り込む</h2>

    <h4>
      <a href="https://twitter.com/<%= @current_user.screen_name %>" target="_blank">
        <%= image_tag("twitter-bird-light-bgs.png", width: 30) %>
        @<%= @current_user.screen_name %></a>のツイートを
        <button id="start-import" data-loading-text="保存中..." data-complete-text="取得完了" class="btn btn-success"><i class="icon-random icon-white"></i>取り込み開始</button><%= image_tag("ajax-loader.gif", class: "loader") %>
        <% if @id_oldest != "false" %>
        <p id="recover-msg" class="alert alert-info">続きから取り込みます</p>
        <% end %>
    </h4>
    <input type="hidden" name="id-oldest" value="<%= @id_oldest %>" />
    <input type="hidden" name="count-so-far" value="<%= @count_so_far %>" />
  </div>
  <!-- /.wrap-upper -->

  <!-- .wrap-progress-bar -->
  <div class="wrap-progress-bar" style="display:none;">
    <input type="hidden" id="statuses-count" value="<%= @statuses_count %>" />

    <div class="progress progress-striped progress-primary active">
      <div class="bar" style="width: 0%;height: 30px;"></div>
    </div>

    <p class="total"></p>

  </div>
  <!-- /.wrap-progress-bar -->


  <!-- /.wrap-upper -->

  <!-- .wrap-lower -->
  <div class="wrap-lower">

    <!-- .wrap-importing-status -->
    <div class="wrap-importing-status" style="display:none;">

      <!-- .wrap-tweet -->
      <div class="wrap-tweet">
        <div class="inner">
          <p class="body"></p>
          <p class="date"></p>
        </div>
        <div class="triangle"></div>
      </div>
      <!-- /.wrap-tweet -->

      <!-- .wrap-profile-image -->
      <div class="wrap-profile-image">
        <div class="profile-image">
          <div class="viewport">
            <a href="https://twitter.com/<%= @current_user.screen_name %>"><%= image_tag(@current_user.profile_image_url_https, alt: @current_user.screen_name) %></a>
          </div>
        </div>
      </div>
      <!-- /.wrap-profile-image -->

    </div>
    <!-- /.wrap-importing-status -->

  </div>
  <!-- /.wrap-lower -->

</div>
<!-- /#wrap-import" -->
