<% content_for :javascript_include_tags do %>
  <%= javascript_include_tag "modules/popstate", "modules/page_title", "modules/global_header", "modules/timeline_nav", "modules/term_selector", "modules/tweet_card", "modules/read_more" %>
  <%= javascript_include_tag "statuses/user_timeline_sp" %>
<% end %>
<% content_for :global_header do %>
  <%= render "shared/global_header",{current_user: current_user} %>
<% end %>
<% content_for :footer do %>
  <%= render "shared/footer" %>
<% end %>
<%= render "shared/timeline_nav_smart_phone" %>
<%= render "shared/term_selector" %>
<div class="ad">
  <%= render "shared/adsense/sp/user_timeline/above_timeline" %>
</div>
<!-- #wrap-timeline-lower -->
<div id="wrap-timeline-lower">
  <!-- #wrap-main -->
  <div id="wrap-main">
    <%= render "shared/timeline", {statuses: @statuses, has_next: @has_next, current_user: current_user, oldest_tweet_id: @oldest_tweet_id} %>
  </div>
  <!-- /#wrap-main -->
</div>
<!-- /#wrap-timeline-lower -->
<div class="ad">
  <%= render "shared/adsense/sp/user_timeline/under_timeline" %>
</div>
