<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.number_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </div>
  <div class="field">
    <%= f.label :profile_image_url_https %><br />
    <%= f.text_field :profile_image_url_https %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.text_field :time_zone %>
  </div>
  <div class="field">
    <%= f.label :utc_offset %><br />
    <%= f.number_field :utc_offset %>
  </div>
  <div class="field">
    <%= f.label :tweet_created_at %><br />
    <%= f.datetime_select :tweet_created_at %>
  </div>
  <div class="field">
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :token_secret %><br />
    <%= f.text_field :token_secret %>
  </div>
  <div class="field">
    <%= f.label :initialized_flag %><br />
    <%= f.check_box :initialized_flag %>
  </div>
  <div class="field">
    <%= f.label :token_updated %><br />
    <%= f.datetime_select :token_updated %>
  </div>
  <div class="field">
    <%= f.label :statuses_updated %><br />
    <%= f.datetime_select :statuses_updated %>
  </div>
  <div class="field">
    <%= f.label :friends_updated %><br />
    <%= f.datetime_select :friends_updated %>
  </div>
  <div class="field">
    <%= f.label :closed_only %><br />
    <%= f.check_box :closed_only %>
  </div>
  <div class="field">
    <%= f.label :deleted_flag %><br />
    <%= f.check_box :deleted_flag %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
