<% if @error_type == "no_friend_list" %>
  <!-- #wrap-main.home_timeline.error -->
  <div id="wrap-main" class="home_timeline_error">
    <%= render "shared/no_friend_list" %>
  </div>
  <!-- /#wrap-main.home_timeline.error -->
<% elsif @error_type == "no_registered_friend'" %>
  <!-- #wrap-main.home_timeline.error -->
  <div id="wrap-main" class="home_timeline_error">
    <%= render "shared/no_registered_friend" %>
  </div>
  <!-- /#wrap-main.home_timeline.error -->
<% else %>
  <%= render "shared/dashbord" %>
  <% if @statuses.present? %>
    <!-- #wrap-timeline-lower -->
    <div id="wrap-timeline-lower">
      <!-- #wrap-main-->
      <div id=wrap-main>
	<%= render "shared/timeline", {:statuses => @statuses, :has_next => @has_next, :current_user => @current_user, :oldest_tweet_id => @oldest_tweet_id} %>
      </div>
      <!-- /#wrap-main -->
      <%= render "shared/adsense/ads_timeline.html.erb" %>
    </div>
    <!-- /#wrap-timeline-lower -->
  <% else %>
    <!-- #wrap-main.home_timeline.error -->
    <div id="wrap-main" class="home_timeline error">
      <%= render "shared/no_status_found" %>
    </div>
    <!-- /#wrap-main.home_timeline.error -->
  <% end %>
<% end %>
