<h1>Listing users</h1>

<table>
  <tr>
    <th>Twitter</th>
    <th>Name</th>
    <th>Screen name</th>
    <th>Profile image url https</th>
    <th>Time zone</th>
    <th>Utc offset</th>
    <th>Tweet created at</th>
    <th>Lang</th>
    <th>Token</th>
    <th>Token secret</th>
    <th>Initialized flag</th>
    <th>Token updated</th>
    <th>Statuses updated</th>
    <th>Friends updated</th>
    <th>Closed only</th>
    <th>Deleted flag</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.twitter_id %></td>
    <td><%= user.name %></td>
    <td><%= user.screen_name %></td>
    <td><%= user.profile_image_url_https %></td>
    <td><%= user.time_zone %></td>
    <td><%= user.utc_offset %></td>
    <td><%= user.tweet_created_at %></td>
    <td><%= user.lang %></td>
    <td><%= user.token %></td>
    <td><%= user.token_secret %></td>
    <td><%= user.initialized_flag %></td>
    <td><%= user.token_updated %></td>
    <td><%= user.statuses_updated %></td>
    <td><%= user.friends_updated %></td>
    <td><%= user.closed_only %></td>
    <td><%= user.deleted_flag %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
