<% content_for(:title){"データ管理"} %>
<% content_for :javascript_include_tags do %>
  <%= javascript_include_tag "modules/ajax_status", "modules/ajax_friend", "modules/ajax_profile" %>
  <%= javascript_include_tag "users/setting_pc" %>
<% end %>
<% content_for :global_header do %>
  <%= render "shared/global_header",{current_user: current_user} %>
<% end %>
<% content_for :footer do %>
  <%= render "shared/footer" %>
<% end %>
<!-- #wrap-setting -->
<div id="wrap-setting">
  <%= hidden_field_tag 'status-import-is-working', @view_object.status_import_is_working? %>
  <h1><i class="icon-hdd"></i><span>データ管理</span></h1>
  <!-- .wrap-profile -->
  <div class="wrap-profile">
    <div class="area-profile-image">
      <%= image_tag(@view_object.profile_image_url, class: "profile-image-url-https", width:70) %>
    </div>
    <div class="area-center">
      <div class="area-names">
        <p class="name"><%= @view_object.user_name %></p>
        <p>@<span class="screen-name"><%= @view_object.user_screen_name %></span></p>
      </div>
      <div class="area-updated">
        <p>最終更新 : <span class="updated-date"><%= @view_object.profile_updated_at %></span></p>
      </div>
      <div class="area-result">
        <span class="alert"></span>
      </div>
    </div>
    <!-- /.area-center -->
    <div class="area-button">
      <button id="update-profile" class="btn btn-success" data-loading-text="読み込み中"><i class="icon-refresh"></i>更新</button>
    </div>
  </div>
  <!-- /.wrap-profile -->
  <table class="table">
    <!--
    <thead>
    <tr>
    <th></th>
    <th>保存件数</th>
    <th>更新時刻</th>
    <th></th>
  </tr>
</thead>
-->
<tbody>
  <tr class="tweets">
    <td class="head">ツイート</td>
    <td class="count">
      <span class="total-num"><%= @view_object.total_status_count %></span>件
      <span class="additional-num"></span>
    </td>
    <td class="last-update"><span class="date"><%= @view_object.statuses_updated_at %></span></td>
    <td class="button">
      <button id="update-statuses" class="btn btn-success" data-loading-text="読み込み中"><i class="icon-refresh icon-white"></i>更新</button>
      <%= image_tag("ajax-loader.gif", class: "loader") %>
    </td>
  </tr>
  <tr class="friends">
    <td class="head">フォローリスト</td>
    <td class="count">
      <span class="total-num"><%= @view_object.friends_count %></span>件
      <span class="additional-num"></span>
    </td>
    <td class="last-update"><span class="date"><%= @view_object.friends_updated_at %></span></td>
    <td class="button"><button id="update-friends" class="btn btn-success" data-loading-text="読み込み中">
      <i class="icon-refresh icon-white"></i>更新</button>
    </td>
  </tr>
</tbody>
</table>
<div class="wrap-delete-button">
  <button class="btn btn-danger" href="#modal-delete-account" data-toggle="modal"><i class="icon-trash icon-white"></i>アカウントを削除する</button>
</div>
</div>
<!-- /#wrap-setting -->
<%= render "shared/modal_delete_account" %>
