<!-- #container-footer -->
<div id="container-footer">

  <!-- .inner -->
  <div class="inner">
    <!-- .area-upper -->
    <div class="area-upper">

      <!-- .area-left -->
      <div class="area-left">

        <div class="adsense footer">
          <%= render "shared/adsense/pc/common/footer" %>
        </div>

      </div>
      <!-- /.area-left -->

      <!-- .area-right -->
      <div class="area-right">

        <div class="wrap-catch">
          <p class="brand">TwitJump</p>
          <p class="description">click and jump <br/>to your passed days</p>
        </div>

      </div>
      <!-- /.area-right -->

    </div>
    <!-- /.area-upper -->

    <footer>

      <!-- .container -->
      <div class="container">

        <span class="copyright">
          <a href="https://<%= request.host %>">TwitJump</a> © <%= Time.now.year %>
        </span>

        <!-- .wrap-social-plugins -->
        <div class="wrap-social-plugins">
          <div class="wrap-twitter-follow">
            <a href="https://twitter.com/twit_jump" class="twitter-follow-button" data-show-count="false" data-lang="ja">@twit_jumpさんをフォロー</a>
          </div>
          <div class="wrap-fb">
            <div class="fb-like" data-href="https://<%= request.host %>" data-send="false" data-show-faces="false" data-layout="button_count"></div>
          </div>
          <div class="wrap-hatena">
            <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><%= image_tag("https://b.st-hatena.com/images/entry-button/button-only.gif", alt: "このエントリーをはてなブックマークに追加", width: 20, height: 20, style: "border: none;") %></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          </div>
          <div class=" wrap-gplus">
            <div class="g-plusone" data-size="medium"></div>
            <script type="text/javascript">
            window.___gcfg = {lang: 'ja'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            </script>
          </div>
          <div class="wrap-twitter-tweet">
            <%= render "shared/twitter_share_button" %>
          </div>
        </div>
        <!-- /.wrap-social-plugins -->
      </div>
      <!-- /.container -->

    </footer>
  </div>
  <!-- /.inner -->

</div>
<!-- /#container-footer-->
