 <!-- .wrap-each-status -->
<div class="wrap-each-status"
     <% if logged_in? && status.user.twitter_id == current_user.twitter_id %>
       data-status-id="<%= status.id %>"
     <% end %>>
  <!-- .profile-image -->
  <div class="profile-image">
    <div class="viewport">
      <a href="https://twitter.com/<%= status.rt_screen_name %>" target="_blank"><img src="<%= status.rt_profile_image_url_https %>" alt="<%= status.rt_screen_name %>" width="48" height="48"/></a>
    </div>
  </div>
  <!-- /.profile-image -->
  
  <!-- .status-content -->
  <div class="status-content">
    <!-- .top -->      
    <span class="top">
      <span class="logo">
	<img src="/assets/twitter-bird-light-bgs.png" alt="Twitterブランド" />
      </span>      
      <span class="name">
        <a href="https://twitter.com/<%= status.rt_screen_name %>" target="_blank"><%= status.rt_name %></a>
      </span>
      <span class="screen-name">
        <a href="https://twitter.com/<%= status.rt_screen_name %>" target="_blank">@<%= status.rt_screen_name %></a>
      </span>
      <span class="date">
        <a href="https://twitter.com/<%= status.rt_screen_name %>/status/<%= status.status_id_str %>" target="_blank">
	  <%= calc_tweet_posted_time status.rt_created_at%>
	</a>
      </span>
    </span>
    <!-- /.top -->
    <span class="text">
      <%== linkify_tweet_body status.rt_text,status.entities %>
    </span>
    <% if status.is_retweet %>
      <div class="retweet-info">
	<p><span class="icon">&nbsp</span><%= status.rt_screen_name %>さんがリツイート</p>
      </div>
    <% end %>
    <!-- .bottom -->
    <span class="bottom">
      <!-- .pull-left -->
      <div class="pull-left">
	<span class="specific-date">
	  <%= calc_tweet_posted_time status.rt_created_at,true %>
	</span>
	<span class="source">
	  <%== status.source %>から
	</span>
	<span class="link-official">
	  <a href="https://twitter.com/<%= status.rt_screen_name %>/status/<%= status.status_id_str %>" target="_blank">詳細</a>
	</span>
	<!-- .area-intents -->
	<div class="area-intents">
	  <a class="intent intent-reply" href="https://twitter.com/intent/tweet?in_reply_to=<%= status.status_id_str %>">&nbsp</a>
	  <a class="intent intent-retweet" href="https://twitter.com/intent/retweet?tweet_id=<%= status.status_id_str %>">&nbsp</a>
	  <a class="intent intent-favorite" href="https://twitter.com/intent/favorite?tweet_id=<%= status.status_id_str %>">&nbsp</a>
	</div>
	<!-- /.area-intents -->
      </div>
      <!-- /.pull-left -->
      
      <% if logged_in? && status.user.twitter_id == current_user.twitter_id %>
	<span class="link-delete" data-status-id="<%= status.id %>">
	  <a href="#"> <i class="icon-trash"></i> </a>
	</span>
      <% end %>
    </span>
    <!-- /.bottom -->
  </div>
  <!-- /.status-content -->
</div><!-- /.wrap-each-status -->
